@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi!<br/>I am Md. Salah Uddin. <br/> I am the developer of this project. This was a passionate project for me. I used Asp.net Mvc technology to build this project. If there is any problem in this project, please let me know.<br/>Thank you.</p>
