@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Job Finder Inc.<br />
    Chawkbazar, Chittagong<br />
    <abbr title="Phone">P:</abbr>
    +8801831060140
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mdriad1610@gmail.com">mdriad1610@gmail.com</a><br />
   
</address>